[user]
	email = bakareclassic@gmail.com
	name = baleek
	mail = bakareclassic@gmail.com
[init]
	default = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
